<%- include('./includes/header') %>
  

<h1 class="text-center bg-secondary text-white shadow p-2 mt-1">SINGLE POST</h1>

<a href="/" class="btn  btn-dark "> Go To ALL Blogs</a>

<div class="text-center m-5">
<img src="/use.jpg" width="300px" class="shadow" >
</div>
<div class="my-width  shadow-lg p-2">
 <h1><%= item.title %></h1>
 <h3><%= item.decribe %></h3>
 <h3><%= item.name %></h3>
 <h3><%= item.email %></h3>
  
</div>


<%- include('./includes/Footer') %>
